body {
    font-family: 'Meiryo UI', sans-serif;
    background-color: #f9f9f9;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #ffb6c1;
    padding: 20px;
    text-align: center;
    color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

header h1 {
    margin: 0;
}

main {
    padding: 20px;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3列構成 */
    gap: 0; /* 画像間の間隔を最小化 */
    justify-items: center;
    align-items: center;
}

.gallery img {
    width: 300px; /* 固定幅 */
    height: 200px; /* 固定高さ */
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    object-fit: cover; /* 縦横比を維持しつつトリミング */
    margin: 2px 2px; /* 余計なマージンを排除 */
    padding: 0; /* 余計なパディングを排除 */
}


footer {
    background-color: #ffb6c1;
    padding: 10px;
    text-align: center;
    color: white;
}

footer a {
    color: #fff;
    text-decoration: underline;
}


/* tripのbuttonスタイル */
button {
    background-color: #ffb6c1; /* 背景色に合わせる */
    color: white; /* テキストの色を白に */
    border: none; /* ボーダーをなくす */
    border-radius: 20px; /* 角を丸くする */
    padding: 10px 20px; /* パディングを追加 */
    font-size: 16px; /* フォントサイズを調整 */
    cursor: pointer; /* カーソルをポインターに */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* 影を追加 */
    transition: background-color 0.3s ease; /* 背景色の変化にトランジションを追加 */
    margin: 3px; /* ボタン同士の間隔を広げるためのマージンを追加 */
}

button:hover {
    background-color: #ff8da1; /* ホバー時の背景色を変更 */
}

/* 画面幅が狭くなった場合のレスポンシブデザイン */
@media (max-width: 768px) {
    .gallery {
        grid-template-columns: repeat(2, 1fr); /* 2列構成 */
        gap: 2px; /* モバイルでも間隔を調整 */
    }
}

@media (max-width: 480px) {
    .gallery {
        grid-template-columns: 1fr; /* 1列構成 */
        gap: 2px;
    }

    .gallery img {
        width: 300px; /* 固定幅 */
        height: 200px; /* 固定高さ */
        border-radius: 10px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        object-fit: cover; /* 縦横比を維持しつつトリミング */
        margin: 0; /* 余計なマージンを排除 */
        padding: 0; /* 余計なパディングを排除 */
    }
    
}
